.toggle-ua-form, .subreddit-info {
  float: right;
}

body {
  background-color: rgba(206, 227, 248, .8 );
}

.container {
  background-color: white;
  min-height: 100%;
  padding: 0 2em;
}

.no-wrap {
  white-space: nowrap;
}

.pre-wrap {
  white-space: pre-wrap;
}

.inline {
  display: inline;
}

/* Navbar styles */
div button.btn {
  border: 1px solid rgb(60, 60, 60);
}

li {
  list-style-type: none;
}

nav {
  height: 50px;
  z-index: 1;
}

.navbar li.navbar-btn {
  font-size: .75em;
}

.navbar .btn, .navbar-btn a {
  height: 35px;
}

li.navbar-btn a {
  padding: 6px 12px;
}

.navbar li.navbar-btn a:hover, .navbar-nav li.navbar-btn ul.dropdown-menu.row a:hover{
  background-color: rgba(230, 230, 230, .9);
  text-decoration: underline;
  border-left: 0.1px solid rgba(0,0,0,.5);
  border-right: 0.1px solid rgba(0,0,0,.5);
}

li.all-subreddits-btn a {
  color: red;
}

.dropdown-menu {
  border-radius: 0.3em;
}

/* Username button */
.username-btn {
  font-size: 1.5em;
  padding: 0px 10px;
}

/* Logout button */
#logout-btn form {
  padding: 0 20px;
  margin: 0 auto;
}
#ua-button {
  background-color: rgb(192, 192, 192);
  border-radius: 0.5em;
  border: 1px solid black;
}

/* @media queries */
@media screen and (max-width: 767px) {
  .subreddit-info {
    display: none;
  }
  #navbar-subreddits {
    background-color: black;
  }
  #navbar-subreddits li {
    display: inline-block;
  }
  div#navbar-subreddits li.btn-group button {
    margin-bottom: .5em;
  }
}

/* Forms */
form{
  background-color: rgb(250, 250, 250);
  padding: 0.5em;
  border-radius: 0.5em;
  border: 1px solid rgb(60, 60, 60);
  margin-left: 0.5em;
  margin-right: 0.5em;
}
textarea {
  height: 5em;
}
input, textarea, button {
  border-radius: 0.3em;
}
input[type=submit] {
  width: 10em;
  background-color: rgb(192, 192, 192);
  border-radius: 0.5em;
  margin-top: 0.5em;
}
input[value="Subscribe"] {
  background-color: rgb(118, 170, 74);
  color: white;
  font-style: bold;
  max-width: 100px;
}
input[value="Unsubscribe"] {
  background-color: rgb(207, 97, 101);
  color: white;
  font-style: bold;
  max-width: 100px;
}
form input:focus {
  border: rgb(60, 128, 211);
}
.remove-form-container-style {
  border: none;
  background-color: transparent;
}
form .row input, form .row textarea, form .row label{
  margin: 0em 1em;
}
input.big-submit-btn {
  width: 13em;
}

/* Post styles */
.light-gray-background {
  border: 1px solid rgb(207, 207, 207);
  border-radius: 0.3em;
  background-color: rgb(250, 250, 250);
  padding: 0.5em 1em;
}
.post-index {
  color: rgba(85, 85, 85, 0.8);
  font-size: 1.5em;
}
.post-index p {
  margin: 0 auto;
}
