#user-options, .toggle-ua-form, .subreddit-info {
  float: right;
}

body {
  background-color: black;
}

.container {
  background-color: white;
  height: 100%;
}


div button.btn {
  border: 1px solid rgb(60, 60, 60);
}

li {
  list-style-type: none;
}

nav {
  height: 50px;
}

div.btn-group button {
  height: 35px;  
}