.toggle-ua-form, .subreddit-info {
  float: right;
}

body {
  background-color: rgba(206, 227, 248, .8 );
}

.container {
  background-color: white;
  min-height: 100%;
}

.nowrap {
  white-space: nowrap ;
}

/* Navbar styles */
div button.btn {
  border: 1px solid rgb(60, 60, 60);
}

li {
  list-style-type: none;
}

nav {
  height: 50px;
  z-index: 1;
}

.navbar li.navbar-btn {
  font-size: .75em;
}

.navbar .btn, .navbar-btn a {
  height: 35px;
}

li.navbar-btn a {
  padding: 6px 12px;
}

.navbar li:hover{
  background-color: rgba(230, 230, 230, .9);
  text-decoration: underline;
  border-left: 0.1px solid rgba(0,0,0,.5);
  border-right: 0.1px solid rgba(0,0,0,.5);
}

li.all-subreddits-btn a {
  color: red;
}

/* Username button */
.username-btn {
  font-size: 1.5em;
  padding: 0px 10px;
}

/* Logout button */
#logout-btn form {
  padding: 0 20px;
  margin: 0 auto;
}
input[type=submit] {
  width: 140px;
  background-color: rgb(192, 192, 192);
  border-radius: 1em; 
}

/* @media queries */
@media screen and (max-width: 767px) {
  .subreddit-info {
    display: none;
  }
  #navbar-subreddits {
    background-color: black;
  }
  #navbar-subreddits li {
    display: inline-block;
  }
}




