<!-- Delete profile form -->
<!-- Should only be able to see this form if user clicks link from their profile page -->
<h1>/u/<%= @user.name %></h1>
<hr>

<form method="post" action="/u/<%= @user.name %>/delete">
  <label for="confirmation">
    <h3>Are you sure you want to delete your account?</h3>
  </label>
  <input type="radio" name="confirmation" value="yes"> Yes
  <input type="radio" name="confirmation" value="no"> No
  <br>

  <input type="hidden" name="user_id" value="<%= @user.id %>">
  <input type="submit" value="Confirm">

</form>