<h3>Subreddits you are subscribed to</h3>
<hr>

<ul>
<% @user.subreddits.each do |subreddit| %>

  <a href="/r/<%= subreddit.slug %>">/r/<%= subreddit.name %></a>

  <!-- Unsubscribe -->
  <form method="post" action="/r/<%= subreddit.slug %>/unsubscribe">
    <input type="hidden" name="subreddit_id" value="<%= subreddit.id %>">
    <input type="submit" value="Unsubscribe">
  </form>
  <br>

<% end %>
</ul>