<% unless locals.empty? %>
  <%= message %>
<% end %>

<h1>New post</h1>

<form method="post" action="/posts/new">
  <h2>Submit a new link / Submit a new text post</h2><br>
  <input type="radio" name="post_type_id" value="1"><p>Link</p><br>
  <input type="radio" name="post_type_id" value="2" checked><p>Text</p>

  <h3>Title: </h3><input type="text" name="title" placeholder="title"><br>
  <h3>Link: </h3><input type="url" name="link" placeholder="link">
  <h3>Content: </h3><textarea name="content" placeholder="content"></textarea><br>

  <h3>Post to: </h3><br>
  <input list="subreddits" name="subreddit_name">
  <datalist id="subreddits">
    <% Subreddit.all.each do |subreddit| %>
      <option value="<%= subreddit.name %>">
    <% end %>
  </datalist>

  <br>
  <input type="submit" value="Submit New Post">

</form>