<h2>About</h2>
<hr>

<p>
  This is a CRUD application made by <a href="https://github.com/azheng249">Andy Zheng</a>. It is inspired by Reddit and is built to demonstrate understanding of CRUD. The source code can be found at the <a href="https://github.com/azheng249/reddit-clone">Github repository</a>. It is built primarily on Sinatra and ActiveRecord, with Bootstrap for styling. Feel free to use the app as you please.
</p>