<!-- Button with x for hiding form -->
<br><button class="toggle-ua-form">X</button>
<div class="row">

  <!-- Signup Form -->
  <div class="col-sm-1"></div>
  <form class="col-sm-5 col-xs-12" id="signup_form" method="post" action="/signup" >
    <h3>create a new account</h3><br>

    <input type="text" name="name" placeholder="choose a username"><br>
    <input type="password" name="password" placeholder="password"><br>
    <input type="submit" value="Signup">
  </form>

  <!-- Login Form -->
  <div class="col-sm-1"></div>
  <form class="col-sm-5 col-xs-12" id="login_form" method="post" action="/login">
    <h3>login</h3><br>

    <input type="text" name="name" placeholder="enter username"><br>
    <input type="password" name="password" placeholder="password"><br>
    <input type="submit" value="Login">
  </form>

</div> <!-- .row  -->
